/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import "./styles/mixins";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Lato", "Roboto", "Helvetica Neue", sans-serif;
  background: #fcfcfc;
}

#app-header {
  text-align: center;
  margin: 2em auto;
  max-width: 85vw;

  h1 {
    font-size: 1.3rem;
  }
}

#username {
  @include highlighted();
}
